<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/redoc.standalone_2.0.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><button id="update-button">Update Docs</button></p>
    <div id="redoc-container"></div>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
