<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/redoc.standalone_2.0.js"></script>
    <script src="/javascripts/jquery-1.11.0.min.js"></script>
    <script>
      const bucketSchema = <%- JSON.stringify(bucketSchema); %>;
      const cookies = <%- JSON.stringify(cookies); %>;
    </script>
  </head>
  <body>
    <div class="title center">
      <h3>
        <span><%= title %></span>
      </h3>
    </div>
    <div class="div-dropdown center">

      <div class="custom-dropdown">
        <select label="Service" id="service"></select>
      </div>
      <div class="custom-dropdown">
        <select label="Version" id="version"></select>
      </div>
         
    </div>

    <div id="redoc-container"></div>
    
    <script src="/javascripts/index.js"></script>
    
  </body>
</html>
