<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <script src="/javascripts/redoc.standalone_2.0.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/redoc@next/bundles/redoc.standalone.js"> </script>
    <script>
      const schemas = <%- JSON.stringify(schemas); %>;
      const currentSchema = <%- JSON.stringify(currentSchema); %>;
    </script>
  </head>
  <body>
    <div class="title">
      <h3>
        <span><%= title %></span>
      </h3>
    </div>
    <div class="selectWrapper">
      <select id="services"></select>
    </div>
    <div class="selectWrapper">
      <select>
        <optgroup label="Releases" id="releases"></optgroup>
      </select>
    </div>
          
    <div id="redoc-container"></div>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
